<header id="site-header" class="header">
  <nav class="navbar px-3 flex flex-row items-center w-full">
    <!-- Logo + Scritta -->
    <div class="flex items-center">
      <a class="navbar-brand" href="{{ site.Home.RelPermalink }}" title="{{ site.Title }}">
        {{- $logo_filename := site.Params.header.navbar.logo.filename -}}
        {{ with $logo_filename }}
          {{- $logo := resources.Get (path.Join "media" $logo_filename) -}}
          {{ with $logo }}
            {{ $logoExt := path.Ext . }}
            {{ if eq $logoExt `.svg` }}
              {{- $logo.Content | safeHTML -}}
            {{ else }}
              {{ $logo_img := ($logo.Process "Resize x36 webp") }}
              <img
                fetchpriority="high"
                decoding="async"
                style="max-height:36px;"
                width="{{ $logo_img.Width }}"
                height="{{ $logo_img.Height }}"
                src="{{ $logo_img.RelPermalink }}"
                alt="{{ site.Title }}" />
            {{ end }}
          {{ else }}
            <!-- fallback: show site title if no logo -->
            <span style="font-weight:600;font-size:1.2em;">{{ site.Title }}</span>
          {{ end }}
        {{ end }}
      </a>
      <span class="lab-title ml-3" style="font-weight:bold; font-size:1.2em; white-space:nowrap;">
        Chini Lab – Developmental Neuroscience
      </span>
    </div>

    <!-- Main menu - horizontal on desktop, collapses on mobile -->
    <ul
      id="nav-menu"
      class="navbar-nav ml-auto hidden lg:flex flex-row space-x-6 items-center">
      {{ $currentPage := . }}
      {{ range site.Menus.main }}
        {{ $menuURL := .URL | absLangURL }}
        {{ $pageURL := $currentPage.Permalink | absLangURL }}
        {{ $active := eq $menuURL $pageURL }}
        <li class="nav-item">
          <a
            class="nav-link {{ if $active }}active font-bold{{ end }}"
            href="{{ .URL | relLangURL }}">{{ .Name }}</a>
        </li>
      {{ end }}
      {{ if site.Params.header.navbar.button.enable }}
        <li>
          <a
            class="inline-block rounded border px-5 py-2 font-semibold transition
              md:ml-4 px-4 py-1.5 text-sm
              border-black hover:bg-black dark:hover:bg-white dark:hover:text-black hover:text-white dark:border-white dark:text-white dark:hover:bg-white
              hidden lg:inline-block"
            href="{{ site.Params.header.navbar.button.url | relLangURL }}">
            {{ site.Params.header.navbar.button.text }}
          </a>
        </li>
      {{ end }}
    </ul>
  </nav>
</header>
